@import './blocks/header.css';

s-carpenter-wysiwyg-widget {
  display: inline-block;
  width: calc(100%);

  #s-carpenter-wysiwyg-widget-editor-js {
    /* border: 1px solid s-color(main, border); */
    padding: s-space(40);
  }

  [data-placeholder-active] {
    opacity: 0.3;
  }

  .codex-editor__redactor {
    background: s-color(main, --alpha 0.03);
    padding: s-space(30);
  }
  .ce-toolbar__actions {
    right: auto;
    left: 0;
    flex-direction: row-reverse;
  }
  .ce-toolbar__plus {
    /* display: none !important; */
  }
  .ce-popover__container {
    right: auto;
    left: 0;
  }
}
