.s-json-schema-form {
  .s-json-schema-form_values {
  }

  .s-json-schema-form_values-item {
    border-top: 1px solid s-color(accent, --alpha 0.3);
  }

  .s-json-schema-form_values-array,
  .s-json-schema-form_values-object {
  }

  .s-json-schema-form_values-prop:has(+ .s-json-schema-form_values-array) {
    &:after {
      content: '[]';
      color: s-color(error, --alpha 0.4);
      font-weight: 500;
    }
  }
  .s-json-schema-form_values-prop:has(+ .s-json-schema-form_values-object) {
    &:after {
      content: '{}';
      color: rgba(0, 0, 0, 0.4);
      font-weight: 500;
    }
  }

  .s-json-schema-form_values-prop:has(+ .s-json-schema-form_values-array),
  .s-json-schema-form_values-prop:has(+ .s-json-schema-form_values-object),
  .s-json-schema-form_values-index {
    padding-inline-end: s-space(20);
    padding-block: s-space(10);
    transition: s-transition(fast);
    width: 15ch;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .s-json-schema-form_values-index {
    color: s-color(error, --alpha 0.4);
    background: s-color(accent, --alpha 0.1);
    padding-inline-start: 15ch;
  }
  .s-json-schema-form_values-prop:has(+ .s-json-schema-form_values-array),
  .s-json-schema-form_values-prop:has(+ .s-json-schema-form_values-object) {
    padding-inline-start: calc(
      15ch - ((var(--prop-length)) * 1ch) - s-space(10)
    );
  }

  /* .s-json-schema-form_values-item:has(.s-carpenter-wysiwyg-widget) {
      .s-json-schema-form_values-prop {
        width: 100%;
        text-align: left;
      }
    } */

  .s-json-schema-form_values-errors {
    color: s-color(error);
  }
  .s-json-schema-form_values-error {
  }

  .s-json-schema-form_values-prop {
    text-align: right;
    color: s-color(accent);
    padding-inline-end: s-space(20);
    padding-block: s-space(10);
    transition: s-transition(fast);
    width: 15ch;
  }
  .s-json-schema-form_values-value {
    padding-block: s-space(10);
    padding-inline: s-space(20);
    background: s-color(accent, --alpha 0.05);
    width: calc(100% - 15ch);
    color: rgba(0, 0, 0, 0.6);

    &:has(.s-json-schema-form_values-errors) {
      background: s-color(error, --alpha 0.2);
    }

    .-null,
    .-undefined,
    .-number,
    .-true,
    .-false {
      font-family: s-font-family(code);
      font-weight: 500;
    }

    .-null {
      opacity: 0.3;
    }
    .-undefined {
      opacity: 0.3;
    }
    .-number {
    }
    .-true {
      color: s-color(success, --darken 10);
    }
    .-false {
      color: s-color(error, --darken 10);
    }
  }

  .s-json-schema-form_values-value,
  .s-json-schema-form_values-prop {
    opacity: 0.4;

    &:hover,
    &:has(+ .s-json-schema-form_values-value:hover),
    &:has(+ .s-json-schema-form_values-array:hover),
    &:has(+ .s-json-schema-form_values-object:hover) {
      opacity: 1;
    }
  }
}
